.project-title{
  font-weight: bold;
    margin: 1rem;
    font-size: 1.5rem;
}
.project-card{
    box-shadow: 0 1px 25px rgba(146,161,176,.5);
    margin:1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    
  }
  #projects-grid{
    display: grid;
    grid-template-columns: 90vw;
    max-width: 90vw;
    margin: auto;
    grid-gap: 1rem;
  }
  .project-image{
    width:100%;
  }
  .project-description{
    margin: 0.5rem;
    padding: 0.8rem;
  }
.mark{
  border: solid 1px var(--primary-color);
    color: var(--primary-color);
    padding: 0.2rem;
    margin: 0.8rem;
}
  @media (min-width:768px) {
      #projects-grid{
    grid-template-columns: repeat(2,1fr);
    max-width: 60vw;

      }
  }