@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  --primary-color: #6d28d9;
  --secondary-color: #ef4444;
  --white: #fff;
  --black: #000;
  --orange: #ffa500;
  --gray: #f9fafb;
}
* {
  margin: 0rem;
  padding: 0rem;
  font-family: "Open Sans", sans-serif;

}
html {
  scroll-behavior: smooth;
}


/* Navigation */
.name {
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem;
  color: var(--white);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-color);
}

.list-non-bulleted {
  list-style-type: none;
}

.list-inline {
  display: inline;
  padding: 0.2rem;
}

.link {
  text-decoration: none;
  color: var(--white);
}

.link-active {
  font-weight: bold;
  font-size: 1.5rem;
}

.link:hover {
  text-decoration: underline;
}
/* header */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 83vh;
  flex-direction: column;
}

.hero-img {
  max-width: 350px;
  width: 100%;
}

.hero-name {
  text-align: center;
  color: var(--secondary-color);
  font-size: 2.25rem;
}

.typewriter {
  /* font-size: 2.25rem; */
  /* Ensures the content is not revealed until the animation */
  overflow: hidden;
  /* border-right: .15em solid var(--orange); */
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(30, end);
  font-size: 1rem;
}

.hero-description {
  color: var(--black);
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.hero-btn {
  background: linear-gradient(0deg, #818cf8 0%, var(--primary-color) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
  margin: auto;
}
.hero-btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.hero-btn:before,
.hero-btn:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: var(--primary-color);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.hero-btn:before {
  height: 0%;
  width: 2px;
}
.hero-btn:after {
  width: 0%;
  height: 2px;
}
.hero-btn:hover {
  color: var(--primary-color);
  background: transparent;
}
.hero-btn:hover:before {
  height: 100%;
}
.hero-btn:hover:after {
  width: 100%;
}
.hero-btn span:before,
.hero-btn span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: var(--primary-color);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.hero-btn span:before {
  width: 2px;
  height: 0%;
}
.hero-btn span:after {
  height: 2px;
  width: 0%;
}
.hero-btn span:hover:before {
  height: 100%;
}
.hero-btn span:hover:after {
  width: 100%;
}

.hero-btn-link {
  text-decoration: none;
  color: var(--white);
  text-align: center;
}

/* The typing effect */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* technologies */
.container {
  padding: 1rem;
}
.container-center {
  margin: auto;
}

.section-heading {
  text-align: center;
  font-weight: bold;
  font-size: 2.25rem;
}
.section-description {
  text-align: center;
}
.section-technologies {
  background-color: var(--gray);
}
.container-technologies {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 2rem;
  align-items: center;
}

.section-technologies-img {
  max-width: 360px;
  max-height: 350px;
  padding: 1rem;
  margin: auto;
}
.technology-img {
  width: 3rem;
  height: 3rem;
}
.technologies-grid {
  display: grid;
  justify-items: center;
  justify-content: center;
  /* grid-template-columns: repeat(3,5.6rem); */
  grid-template-columns: repeat(3, 5.6rem);
  padding: 0.5rem;
  grid-gap: 1rem;
}

.tech-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  padding: 1rem;
}
/* work */

.work-card-container{
  display: flex;
  flex-direction: column;
  width: 70%;
  
}
.work-card-img {
  width: 100%;
  object-fit: cover;
}
.work-card-title {
  text-align: center;
}
.work-card-desc {
  text-align: center;
}


.section-work{
  background: white;
  padding: 2rem;
}

.work-card{
  /* border: 1px solid black; */
  box-shadow: 0 1px 25px rgba(146,161,176,.15);
  margin:1rem;
  padding: 1rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  
}

.work-title{
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
}

.work-subtitle{
  margin:1rem;
  text-align: justify;
  font-size: 1rem;
  color:var(--dark-gray)
}

.work-image{
  width:100%;
  object-fit: cover;
}


.extra-space-2{
  margin-top: 2rem;
}

.btn{
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  border: none;
  width: 60%;
  box-shadow: 0px 6px 18px -5px var(--primary-color);
}
.btn a{
    color:var(--white);
    text-decoration: none;
}
.btn-primary{
  background-color: var(--primary-color);
}

.btn-secondary{
  border: solid 1px var(--primary-color);
  background-color: var(--white);
}
.btn-secondary a{
  color: var(--primary-color);

}

/* footer */
.footer{
    background-color: var(--primary-color);
}
.footer div{
  text-align: center;
  padding:1rem;
}


@media (min-width: 768px) {
  .hero {
    flex-direction: row;
  }
  .link {
    padding: 1rem 1rem;
  }
  .container-technologies {
    flex-direction: row;
  }
  .work-card-container{
    flex-direction: row;
  }


  .section-info{
    max-width: 900px;
    margin: auto;
  }
  
  .section-work{
    max-width: 1100px;
  }
  .section-work .section-info{
    display: flex;
  }
  
  .section-info{
    display: flex;
    justify-content: space-between;
  }
  .work-card{
    width:50%;
  }
}

